.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.77rem;
  }
  h1 {
    font-size: 22pt;
    font-weight: 400;
  }
  h2 {
    font-size: 17pt;
    font-weight: 500;
  }
  h3 {
    font-size: 15pt;
    font-weight: 600;
  }
  h4 {
    font-size: 13pt;
  }
  p {
    margin-top: 0.77rem;
    color: theme("colors.slate.600");
  }
  a {
    color: theme("colors.blue.600");
  }

  pre.astro-code {
    margin: 0.5rem;
  }

  code {
    font-family: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .component-preview {
    padding: 4rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-image: url("/grid_dot.svg");
    background-repeat: repeat;
    background-size: 1.5rem;
    border-radius: 0.33rem;
    border: 1px solid theme("colors.slate.200");
    margin: 0.5rem;
    resize: both;
  }

  .astro-code {
    padding: 1rem;
    border-radius: 0.44rem;
  }
}
