---
import MoreMenu from '../RightSidebar/MoreMenu.astro';

const { content, githubEditUrl } = Astro.props;
const title = content.title;
// const headers = content.astro.headers;
---

<article id="article" class="content">
	<section class="main-section">
		<h1 class="content-title" id="overview">{title}</h1>
		<nav class="block sm:hidden">
		</nav>
		<slot />
	</section>
	<nav class="block sm:hidden">
		<MoreMenu editHref={githubEditUrl} />
	</nav>
</article>

