---
import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from '../../languages.ts';
import * as CONFIG from '../../config.ts';
import AstroLogo from './AstroLogo.astro';
import SkipToContent from './SkipToContent.astro';
import SidebarToggle from './SidebarToggle.tsx';
import LanguageSelect from './LanguageSelect.tsx';
import Search from './Search.tsx';

const { currentPage } = Astro.props;
const lang = currentPage && getLanguageFromURL(currentPage);
---

<header class="bg-slate-900 text-white">
	<SkipToContent />
	<nav title="Top Navigation" class="flex items-center max-w-6xl mx-auto">
		<div class="p-4">
			<SidebarToggle client:idle />
		</div>
		<div>
			<a class="text-lg font-medium" href="/">
				<h1>{CONFIG.SITE.title ?? "Documentation"}</h1>
			</a>
		</div>
		{KNOWN_LANGUAGE_CODES.length > 1 && <LanguageSelect lang={lang} client:idle />}
		{CONFIG.ALGOLIA && (
			<div class="search-item">
				<Search client:idle />
			</div>
		)}
	</nav>
</header>
