---
const { content, githubEditUrl } = Astro.props;
const title = content.title;
// const headers = content.astro.headers;
---

<article id="article" class="content">
	<section class="main-section">
		<nav class="block sm:hidden">
		</nav>
		<slot />
	</section>
</article>

